{# start_menu_buttons.j2 #}
[
    {"text": "Профиль", "callback_data": "profile_"},
    {"text": "Редактировать", "callback_data": "profile_edit"},
    {"text": "Статистика", "callback_data": "profile_stats"},
    {"text": "Помощь", "callback_data": "help"},
    {"text": "Открыть сайт", "url": "https://example.com"}
]